/* Classes */
.weather-holder{
    width: 33vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.city-name{
    color: rgb(1, 12, 34)
}

.weather-content ul{
    display: flex;
    flex-direction: row;
}

.weather-content ul li{
    list-style-type: none;
    display: block;
    min-width: 100px;
}