/* Classes */
.weather-holder{
    width: 33vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.city-name{
    color: rgb(1, 12, 34)
}

.weather-content ul{
    display: flex;
    flex-direction: row;
}

.weather-content ul li{
    list-style-type: none;
    display: block;
    font-size:larger;
}

.desc{
    display: inline-block;
    width: 1000px;
    text-transform: uppercase;
}

.desc-img{
    display: inline-block;
    position: relative;
    bottom: 20px;
}

.weather-content ul :nth-child(0){
    width: 1000px;
}